APP_DEBUG=false

DB_HOST=localhost
DB_PORT=3306
DB_NAME=clinical_lab
DB_USERNAME=api_user
DB_PASSWORD=change_me

JWT_SECRET=change_this_jwt_secret_min_32_chars

EXTERNAL_LAB_BASE_URL=https://aliado-lab.local
EXTERNAL_LAB_API_KEY=generated_api_key
EXTERNAL_LAB_JWT_SECRET=change_this_secret

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=lab@clinica.com
MAIL_PASSWORD=change_me
MAIL_FROM_NAME=Laboratorio Clínico
